/*CSS reset settings here*/
*{
    margin: 0px;
    padding: 0px;
}

img {
    width: 100%;
}

h1, h2, h3 {
    text-align: center;
    padding-top: 15px;
}

#wrapper{
    width: 890px;
    margin: 0px auto;
    padding: 20px;
}

#calendar{
    width: 200px;
    display: inline-block;
}

#month{
    width: 470px;
    display: inline-block;
    vertical-align: top;
    padding-top: 20px;
}

.dates{
    min-height: 60px;
    width: 100px;
    background-color: white;
    display: inline-block;
    margin-top: 20px;
    border: 2px solid black;
    margin-right: 20px;
}

.blankdates{
    min-height: 60px;
    width: 100px;
    background-color: lightgray;
    display: inline-block;
    margin-top: 20px;
    margin-right: 20px;
    border: 2px solid lightgray;
}

.datesblue{
    min-height: 60px;
    width: 100px;
    background-color: rgb(36, 121, 173);
    display: inline-block;
    margin-top: 20px;
    margin-right: 20px;
    border: 2px solid black;
}

.datesgreen{
    min-height: 60px;
    width: 100px;
    background-color: rgb(52, 143, 52);
    display: inline-block;
    margin-top: 20px;
    margin-right: 20px;
    border: 2px solid black;
}

